

    <div class="jumbotron">
        <h1>CPA02: Polling Forum</h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        Users can create polls, fill out existing polls, and view poll statistics
    </p>
    
    <% if (loggedIn) {%>  
        <div class="d-flex flex-wrap justify-content-center text-center overflow-scroll m-3 p-3">
            <div class="border border-primary bg-light m-3 p-3">
                <a class="btn btn-primary" href="/polls" role="button">View All Polls</a>
            </div>
            <div class="border border-primary bg-light m-3 p-3">
                <a class="btn btn-primary" href="/error" role="button">Create A Poll</a>
            </div>
        </div>
    <% } else { %>
        <h4>Please log in to use the app:</h4>
        <a class="btn btn-info" href="/login" role="button">Login</a>
    <% } %>


