<div class="d-flex flex-column flex-wrap overflow-scroll m-3 p-3">
    <% for (poll of polls) { %>
        <div class="row bg-light border border-primary m-3 p-3">
            <div class="col">
                <h1><%=poll.title%></h1>
                <p><%=poll.description%></p>
            </div>
            <div class="col">
                <div class="row justify-content-end my-4">
                    <a class="btn btn-primary w-25" href="/poll/<%=poll._id%>" role="button">Fill Out</a>
                </div>
                <div class="row justify-content-end">
                    <a class="btn btn-primary w-25" href="/stats/<%=poll._id%>" role="button">Statistics</a>
                </div>
            </div>
        </div>
    <% } %>
</div>